*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
.heading{
    font-size: 3.8rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    text-align: center;
}

h1{
    font-size: 72px;
    font-family: 'Dancing Script', cursive; 
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image:    linear-gradient(rgba(25, 10, 58, 0),rgba(40, 12, 63, 0)),url(images/bg2.png);
    background-position: center;
    background-size: cover;
    position: relative;

}
p{
    font-size: 1.0rem;
    color: #adadad;
}
h5{
    font-size: 1.5rem !important;
    margin: 1rem 0;
    font-weight: 600;
}

button{
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    transition: 0.5s;
}
.carousel-item{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.carousel-indicators{
    position: absolute;
    bottom: 20rem;
    left: -95rem;
}
.carousel-indicators li{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.carousel-caption{
    top: 18rem;
    text-align: left;
}
.carousel-caption h1{
    font-size: 4.5rem;
    font-family: 'Balsamiq Sans', cursive;
    word-spacing: 0.1rem;
}
.carousel-caption p{
    font-size: 1.5rem;
    max-width: 60rem;
}
.carousel-caption button{
    background: #43ec3d;
    color: #fff;
}
.second_row button{
    background: #fed330;
    color: #000;
}
.carousel-caption button, .second_row button{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    margin: 2rem 1rem 0 0;
    border: 0;
    outline: none;
    color: #fff;
    transition: .5s;
}
.carousel-caption button:hover{
    background: #fff200;
    color: #000;
}


.icon_umbrella{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_umbrella i{
    font-size: 15rem !important;
    color: #eded !important;
}
.icon{
    text-align: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #82589F;
    margin: 1rem 0;
}
.icon i{
    font-size: 2rem;
    line-height: 6rem;
    color: #fff;
}
nav{
    float: right;
    color: #f1e8db;
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;

}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 24px 12px;
    position:relative
}

.nav-links ul li a{
    color:rgb(224, 224, 217);
    text-decoration: none;
    font-size: 13px;
    font:bold;
}

.nav-links ul li a:hover{
    content:'';
    width:100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;

}

.text-box{
    width: 90%;
    color:antiquewhite;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 72px;
    font-family: 'Dancing Script', cursive;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #f1e8db;
}

.clickhere{
    display: inline-block;
    text-decoration:rgb(224, 224, 217);
    color: antiquewhite;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.clickhere:hover{
    border: 1px solid #d8075e;
    background: #d8075e;
    transition: 0.5s
    
}

nav .fa{
    display: none;
}


.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 65rem;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 55rem;
}

.gmap_iframe {
    height:35rem !important;
}

#newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45));
    height: 30rem;
    background-size: cover;
    background-position: center;
    
}
#newsletter .input_signup{
    height: 17rem;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#newsletter .input_signup input{
    max-width: 35rem;
    height: 4rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: #82589F;
}
#newsletter .input_signup button{
    height: 4rem;
    font-size: 1.4rem;
    margin-left: 0.8rem;
    color: #000;
    font-weight: 600;
    background: #fed330;
    padding: 1rem 0.8rem;
}
li{
    list-style: none;
    


}



.pricing_container button{
    padding: 0.2rem 3rem !important;
    background: #fed330;
    color: #000;
    font-weight: 600;
    transition: 0.5s;
    font-size: 1.3rem !important;
}
.pricing_container button:hover
{
    background: #40ec6b;
    color: #fff;
}
.pricing_container:nth-child(2){
    border-left: 0.2rem solid #b2bec3;
    border-right: 0.2rem solid #b2bec3;
}



#LIZ img{
    width: 90rem !important;
    height: 35rem !important;
    object-fit: cover;
}
#LIZ .owl_carousel item{
    height: 10rem !important;
    max-width: 90rem !important;
    margin: auto;
    align-items: right;
}

#LIZ .image img{
    height: 10rem !important;
    width: 10rem !important;
    object-fit: cover;
    cursor: pointer;
}

#video_projects .carousel{
    height: 30rem;
    align-items: center;
    background-color: aquamarine;
}


.carousel item{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

@media(max-width: 700px)
{
    .text-box h1{
        font-size:34px;
    }

    .nav-links{
        position: absolute;
        background: #a105a7;
        height: 100vh;
        width: 100px;
        top: 0;
        right: 0;
        text-align: left ;
        z-index: 2;
    }

    nav .fa{
        display: block;
        color: #bd0890;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}